@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background: radial-gradient(#000000, #001c58);
}

.site {
    width: 100%;
    max-width: 900px;
    /*máximo 1200*/
    margin: 0 auto;
}

header {
    height: 100px;
    width: 100%;
    background: linear-gradient(#000000, #001c58);

    .site {
        height: 100%;
        display: flex;
        align-items: center;

        img {
            height: 70px;
            /* Tamanho da logo do header ;*/
        }

        h1 {
            width: 280px;
            height: 100px;
            background: url(../img/logo1.png) no-repeat;
            background-size: 100% 100%;
            text-indent: -9999px;
            /*indentação negativa para sumir da página*/
            margin: 15px 0;
        }

        article {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: right;
            align-items: end;

            nav ul {
                color: white;
                display: flex;
                align-items: center;
                background: rgba(255, 255, 255, 0.15);
                backdrop-filter: blur(10px);
                padding: 1rem 3rem;
                font-family: "Anton", sans-serif;
                font-size: 18px;
                text-transform: uppercase;
                justify-content: end;
                height: 25px;
                border-radius: 30px;
                border: 1px solid rgba(255, 255, 255, 0.5);
                box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);

                li {
                    margin: 2px;

                    a {
                        color: white;
                        text-decoration: none;
                        /*decoração do link, nenhuma - tira o sublinhado*/
                        margin: 20px;
                    }

                    img {
                        height: 30px;
                        border: 2px solid rgb(255, 255, 255);
                        border-radius: 50%;
                    }

                    a:hover {
                        /*quando passar o mouse por cima*/
                        color: #FFD700;

                        /* faz alterações na imagem de login ao passar o mouse */
                        img {
                            height: 30px;
                            border: 2px solid rgb(250, 225, 0);
                            box-shadow: 0 4px 4px rgba(255, 255, 255, 0.5);
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

main {
    .equipe {
        background: #001c58;
        padding: 50px 0;

        .site {

            >div {
                display: flex;
                text-align: center;
                margin-bottom: 25px;

                div {
                    img {
                        border-radius: 50px;
                        height: 200px;
                        width: 200px;
                        margin-bottom: 50px;
                    }
                }

                div {
                    h2 {
                        text-align: center;
                        margin-bottom: 40px;
                        color: aliceblue;
                        font-size: 35px;
                    }

                    h3 {
                        font-size: 20px;
                        color: white;
                        margin-bottom: 5px;
                    }

                    div {
                        h4 {
                            margin-top: 30px;
                            font-size: 25px;
                            color: #FFD700;
                        }

                        p {
                            padding: 2px;
                            display: flex;
                            justify-content: space-between;
                            color: aliceblue;
                            font-size: 18px;
                            letter-spacing: 1px;
                            line-height: 20px;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}

/* tratando a classe materias com as divs separadas a partir daqui */

.materias {
    display: flex;
    height: 550px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    background: rgb(1, 5, 58);
    border-radius: 30px;
    background: white;
    align-items: center;

    .site {
        h4 {
            text-align: center;
            font-size: 50px;
            color: #001c58;
        }

        >div {
            display: flex;
            justify-content: center;

            div {
                height: 150px;
                width: 400px;
                background: rgb(1, 5, 58);
                margin: 30px 25px;
                border-radius: 10%;

                h6 {
                    padding: 10px;
                    color: #FFD700;
                    font-size: 20px;
                    text-decoration: none;
                    text-shadow: 0 5px 5px rgb(0, 0, 0);
                }

                h5 {
                    margin-top: 5px;
                    font-size: 18px;
                    color: white;
                    margin-bottom: 10px;
                }
            }
        }

        /* voltar do perfil do professor */
        a {
            padding: 20px;
            color: #FFD700;
            font-size: 30px;
            text-decoration: none;
            text-shadow: 0 5px 5px rgb(0, 0, 0);
        }

        a:hover {
            font-size: 32px;
        }
    }
}

@media(max-width:1024px) {
    header {
        .site {
            article {
                nav ul {
                    font-size: 18px;
                    padding: 2rem 0.3rem;
                }
            }
        }
    }
}

@media(max-width:480px) {
    header {
        .site {
            article {
                nav ul {
                    font-size: 18px;
                    padding: 2rem 0.3rem;
                }
            }
        }
    }

    main {
        .equipe {
            .site {
                div {
                    display: flex;
                    flex-direction: column;

                    div:nth-child(1) {
                        display: flex;
                        align-items: center;
                    }

                    div:nth-child(2) {
                        display: flex;
                        align-items: center;

                        h2 {
                            font-size: 25px;
                        }

                        h3 {
                            font-size: 18px;
                        }

                        h4 {
                            font-size: 18px;
                        }

                        p {
                            font-size: 16px;
                        }

                    }
                }
            }
        }

        .materias {
            height: auto;

            .site {
                h4 {
                    font-size: 30px;
                }

                div {
                    display: flex;
                    flex-direction: column;


                    div {
                        display: flex;
                        justify-content: center;
                        width: 200px;
                        align-self: anchor-center;

                        h6 {
                            font-size: 18px;
                        }

                        h5 {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}